.home {
  min-height: 100vh;
  background-color: #fff;
  color: #000;
  transition: all 0.3s ease-in-out;
}

.home.dark {
  background-color: #121212;
  color: #f1f1f1;
}

.welcome-section {
  padding: 100px 0;
}

.welcome-section h1 {
  font-size: 3rem;
}

.welcome-section p {
  font-size: 1.2rem;
  margin-top: 10px;
}
