.footer {
  background-color: #f8f9fa;
  color: #333;
  font-size: 14px;
}

.footer a {
  color: inherit;
  text-decoration: none;
}

.footer a:hover {
  color: #0d6efd;
  text-decoration: underline;
}

/* Dark Mode */
body.dark-mode .footer {
  background-color: #1f1f1f;
  color: #f1f1f1;
}

body.dark-mode .footer a:hover {
  color: #17b978;
}
