/*start rules*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans", serif;
}

a{
    color: inherit;
    text-decoration: none;
}

ul{
    list-style: none;
}

img{
    width: 100%;
}

section{
    padding: 70px 0;
}

.container{
    width: 1140px;
    margin: auto;
}
body {
  padding-top: 70px;
}


.navbar {
  z-index: 1000;
  transition: background-color 0.3s ease;
}

/*end rules*/
body.dark-mode {
  background-color: #121212;
  color: #f1f1f1;
}

body.dark-mode h1,
body.dark-mode h2,
body.dark-mode h3,
body.dark-mode h4,
body.dark-mode h5,
body.dark-mode h6,
body.dark-mode p,
body.dark-mode span,
body.dark-mode li,
body.dark-mode a {
  color: #f1f1f1 !important;
}

body.dark-mode .card {
  background-color: #1f1f1f;
  border-color: #333;
}

body.dark-mode input,
body.dark-mode textarea,
body.dark-mode select {
  background-color: #222;
  color: #fff;
  border: 1px solid #444;
}

body.dark-mode .btn-outline-dark {
  color: #fff;
  border-color: #fff;
}

body.dark-mode .btn-outline-dark:hover {
  background-color: #444;
  color: #fff;
}
body, 
.navbar, 
.nav-link, 
.card, 
input, 
button {
  transition: background-color 0.3s ease, color 0.3s ease;
}
